.header {
  padding: 20px 0;

  &Nav {
    display: flex;
    align-items: center;
  }

  &Logo {
    padding: 6px 12px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    margin-right: 50px;
  }

  &Menu {
    display: flex;


    li {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 16px;
        padding: 6px 12px;
        border: 1px solid #000;

      }
    }
  }
  .activeLink {
    background-color: #000;
    color: #fff;
  }
}