.configCards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;

  .card {
    border: 1px solid #000;

    &Img {
      width: 100%;
      min-height: 250px;
      background-color: #fbfbfb;
    }

    &Title {

    }
  }
}